<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/estilos.css">
        <title>CFTIC Clinica Dental</title>
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="logo">
                    <h1>CFTIC Clinica Dental</h1>
                </div>
                <nav class="menu">
                    <a href="#">Inicio</a>
                    <a href="#">Nosotros</a>
                    <a href="#">Blog</a>
                    <a href="#">Contacto</a>
                </nav>
            </div>
        </header>
    </body>
</html>