{% extends "base.html" %}
{% block content %}
<div class="text">Actualizar datos</div>
<div class="AdminFrm">
  <div class="wrapper">
    <form action="" class="form">
      <div class="inputContainer">
        <input type="text" class="input" placeholder="a" />
        <label for="" class="label">Nombre:</label>
      </div>

      <div class="inputContainer">
        <input type="text" class="input" placeholder="a" />
        <label for="" class="label">Apellido:</label>
      </div>

      <div class="inputContainer">
        <input type="text" class="input" placeholder="a" />
        <label for="" class="label">Fecha de nacimiento:</label>
      </div>

      <div class="inputContainer">
        <input type="text" class="input" placeholder="a" />
        <label for="" class="label">Dirección:</label>
      </div>

      <div class="inputContainer">
        <input type="text" class="input" placeholder="a" />
        <label for="" class="label">Teléfono de contacto:</label>
      </div>

      <div class="inputContainer">
        <input type="text" class="input" placeholder="a" />
        <label for="" class="label">Correo electrónico:</label>
      </div>

      <input type="submit" class="submitBtn" value="Enviar" />
    </form>
  </div>
</div>
{% endblock %}