{% extends "base.html" %}
{% block content %}
<div class="text">Cambio de password</div>
<div class="AdminFrm">
  <div class="wrapper">
    <form action="" class="form">

<!-- add for dni and perfil -->
      <div class="inputContainer">
        <input type="number" class="input" placeholder="a" />
        <label for="" class="label" >Introduzca DNI</label>
      </div>

      <div class="inputContainer">
        <input type="text" class="input" placeholder="a" />
        <label for="perfil" class="label" >Seleccione un perfil:</label>
        <select id="perfil" name="cars">
          <option value="doctor">Doctor:</option>
          <option value="patient">Paciente:</option>
      </div>
<!-- end for dni and perfil -->
      <div class="inputContainer">
        <input type="password" class="input" placeholder="a" />
        <label for="" class="label">Nueva password:</label>
      </div>

      <div class="inputContainer">
        <input type="password" class="input" placeholder="a" />
        <label for="" class="label" >Repita password:</label>
      </div>


      <input type="submit" class="submitBtn" value="Enviar" />
    </form>
  </div>
</div>
{% endblock %}